<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', :count=>@recipe.errors.count) %></h2>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :size=>80 %>
  </div>
    
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
