<h1>Menu: <%= @menu.title %></h1>

<%= render 'edit_recipes' %>

<%= render(:partial => "add_menu_item_temp") %>

<%= link_to t('.menus'), menus_path %> <%= link_to 'Shopping list', id: @menu, action: 'shopping_list' %> 
