<h1><%= t('.menus') %></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= link_to menu.title, edit_menu_path(menu) %></td>
        <td><%= #menu.recipes_titles.join ' '
         %></td>
        <td><%= link_to t('.destroy'), menu, method: :delete, data: { confirm: t('.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_menu'), new_menu_path %>
