<h1><%= t('.recipes') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.yields') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe %></td>
        <td><%= recipe.yields %></td>
        <td><%= link_to t('.edit'), edit_recipe_path(recipe) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_recipe'), new_recipe_path %> |
<%= link_to t('.load_gourmet_file'), :action => 'load_gourmet_file' %>
