<p id="notice"><%= notice %></p>
<h1><%= @recipe.title %></h1>

<p>Yields: <%= @recipe.yields %></p>

<h2>Ingredients:</h2>

<% if @recipe.ingredients_text %>
  <ul>
  <% @recipe.ingredients_text.split("\n").each do |i| %>
       <li><%= Ingredient.new_from_string(i,nil).nice_text %></li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Recipes', recipes_path %> |
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>


<h2>Add to shopping list: </h2>
<%= render(:partial => "add_to_shopping_list") %>


