<p id="notice"><%= notice %></p>
<h1><%= @recipe.title %></h1>

<p><%= t('.yields') %>: <%= @recipe.yields %></p>

<%= form_tag do %>
  <%= t('.calculate_for') %>: <%= text_field_tag 'yields' %>
  <%= submit_tag t('.calculate') %>
<% end %>

<h2>Ingredients:</h2>

<% if @recipe.ingredients %>
  <ul>
  <% @recipe.ingredients.each do |i| %>
       <li><%= i.nice_text %></li>
  <% end %>
  </ul>
<% end %>

<%= link_to t('.recipes'), recipes_path %> |
<%= link_to t('.edit'), edit_recipe_path(@recipe) %> |
<%= link_to t('.delete'), @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
